environs==11.0.0
SQLAlchemy==2.0.42
Pyrebase4==4.8.0
pydantic==2.11.7
asyncpg==0.30.0
pydantic_settings==2.3.3
aiogram==3.21.0
alembic==1.16.4
posthog==3.6.3
APScheduler==3.11.0
redis==5.0.8
anyio==4.9.0
greenlet==3.1.1
fastapi==0.115.6
uvicorn==0.34.0
types-aioboto3-lite==13.1.1
types-aiobotocore-cloudformation==2.15.2
types-aiobotocore-dynamodb==2.15.2
types-aiobotocore-ec2==2.15.2
types-aiobotocore-lambda==2.15.2
types-aiobotocore-lite==2.15.2
types-aiobotocore-rds==2.15.2
types-aiobotocore-s3==2.15.2
types-aiobotocore-sqs==2.15.2
aioboto3==13.1.1
aiobotocore==2.13.1
fastapi-utils==0.8.0
injector==0.22.0
loguru==0.7.3
async-lru==2.0.5
python-multipart==0.0.20
starlette~=0.41.3
python-dotenv~=1.0.1
pytest==8.4.1
httpx==0.28.1
pytest_asyncio==1.1.0
pytest-cov==6.2.1
pre_commit==4.2.0
line_profiler==5.0.0
bcrypt==5.0.0
python-jose==3.5.0
pillow==12.0.0
starlette-context==0.4.0
filetype==1.2.0
rq==2.6.1
