environs==11.0.0
SQLAlchemy==2.0.22
asyncpg==0.29.0
pydantic_settings==2.3.3
aiogram==3.11.0
alembic==1.12.1
posthog==3.6.3
APScheduler==3.10.4
redis==5.0.8
anyio==4.6.2.post1
greenlet==3.1.1
fastapi==0.115.6
uvicorn==0.34.0
types-aioboto3-lite==13.1.1
types-aiobotocore-cloudformation==2.15.2
types-aiobotocore-dynamodb==2.15.2
types-aiobotocore-ec2==2.15.2
types-aiobotocore-lambda==2.15.2
types-aiobotocore-lite==2.15.2
types-aiobotocore-rds==2.15.2
types-aiobotocore-s3==2.15.2
types-aiobotocore-sqs==2.15.2
aioboto3==13.1.1
aiobotocore==2.13.1
